In [1]:
import geopandas as gpd
import pandas as pd

In [10]:
file_name = '/Users/danielwilliams/Documents/Field Data/RTK_RHBV_2023A.csv'
out_name = '/Users/danielwilliams/Documents/Field Data/gcp_details.geojson'

In [3]:
df = pd.read_csv(file_name)

In [4]:
df.head()

       name          x         y          h
0  target 3 -76.360725  3.498590  994.54990
1  target 9 -76.360657  3.498378  994.71075
2  target 7 -76.360583  3.498143  994.61365
3  target 8 -76.360838  3.498061  994.50450
4  target 1 -76.360912  3.498285  994.62805

In [7]:
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.x, df.y), crs="EPSG:4326")

In [8]:
gdf.head()

       name          x         y          h                   geometry
0  target 3 -76.360725  3.498590  994.54990  POINT (-76.36073 3.49859)
1  target 9 -76.360657  3.498378  994.71075  POINT (-76.36066 3.49838)
2  target 7 -76.360583  3.498143  994.61365  POINT (-76.36058 3.49814)
3  target 8 -76.360838  3.498061  994.50450  POINT (-76.36084 3.49806)
4  target 1 -76.360912  3.498285  994.62805  POINT (-76.36091 3.49828)

In [11]:
gdf.to_file(out_name, driver="GeoJSON")